@tailwind base;
@tailwind components;
@tailwind utilities;

/** Base/default styling. */
@layer base {
	:root {
		/**
		 * Set a default value for the variable,
		 * Will be set to a specific pixel value
		 * by root.tsx.
		 */
		--app-height: 100vh;
	}
	html {
		@apply h-full
	}
	body {
		@apply min-h-full text-gray-800;
		overflow-x: hidden;
		overflow-y: auto;
	}
	/**
	 * Some sensible defaults for paragraphs and headers, please adjust for your needs.
	 */
	p + p {
		@apply mt-4
	}
	p + h4 {
		@apply mt-4
	}
	h1 {
		@apply text-7xl sm:text-9xl;
	}
	h2 {
		@apply text-5xl sm:text-7xl;
	}
	h3 {
		@apply text-3xl sm:text-5xl tracking-[0.1em];
	}
	h4 {
		@apply font-black text-lg sm:text-xl uppercase tracking-[0.1em];
	}
	h5 {
		@apply font-semibold text-lg sm:text-lg uppercase tracking-[0.1em];
	}

	/**
	 * Always user `width: 100%` on images per default.
	 */
	img {
		@apply w-full
	}

	/**
	 * Prettier scrollbar, remove the folling to use the default look.
	 * I always like to keep things as neat a s possible, but that
	 * may not apply to everyone.
	 */
	::-webkit-scrollbar {
		background: transparent;
		width: 6px;
		height: 6px;
	}
	::-webkit-scrollbar-button {
		display: none;
	}
	::-webkit-scrollbar-track {
		opacity: 0;
	}
	::-webkit-scrollbar-track-piece {
		opacity: 0;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgb(0, 0, 0);
	}
	::-webkit-resizer, html::-webkit-scrollbar-button, html::-webkit-scrollbar-corner {
		display: none;
	}
}

/** Custom components */
/*@layer components {*/
/*	.container {*/
/*		@apply w-full px-4 md:px-8 sm:mx-auto sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px]*/
/*	}*/
/*}*/

/** Utility classes */
@layer utilities {
	/**
	 * Expose our little variable as a tailwind class.
	 */
	.h-viewport {
		height: var(--app-height);
	}
}
